{erl_opts, [debug_info]}.
{deps, [
    {beam_graphics, {git, "https://github.com/erlangsters/beam-graphics.git", {tag, "master"}}}
]}.

{profiles, [
    {docs, [
        {plugins, [rebar3_ex_doc]},
        {ex_doc, [
            {main, "README.md"},
            {extras, [
                "README.md"
            ]},
            {source_url, "https://github.com/erlangsters/beam-graphics-shapes"}
        ]}
    ]}
]}.
